body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.bg-gold {
  background: #c2b280;
  background-image: url("zenbg.png");
}
