body {
  background: #fff7de;
  background-image: url("./ZenBG-1.png"), url("./ZenBG-2.png");
  background-repeat: repeat-x, repeat;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
