body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.carousel-inner {
  width: inherit;
}

.navbar-brand {
  margin: 0;
}
