.brandtext {
  font-size: 3.5vw;
  font-weight: bold;
  letter-spacing: 0.85rem;
  text-transform: uppercase;
}

.header {
  justify-content: center !important;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.link:hover {
  color: inherit;
  text-decoration: none;
}

.link {
  color: inherit;
  text-decoration: none;
}
