.brandtext {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.header {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  justify-content: center !important;
}

.link:hover {
  color: inherit;
  text-decoration: none;
}

.link {
  color: inherit;
  text-decoration: none;
}
