.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.header {
  font-size: 3.5vmax;
  letter-spacing: 0.85rem;
  text-align: center;
  text-transform: uppercase;
}

.footerContainer {
  margin-top: 2rem;
}

.form {
  font-weight: bold;
}
